[2014-02-17 15:00] menelic opened #1 "Comments don't appear for other viewers"
Hi @JohnMcLear , great plugin, please let the world know what license it's under!

Unfortunaltely the comments don't really work for me, they don't appear for other viewers, and in my test, other viewers couldn't even insert them into the same pad where I (and only I) could see my own comments. It should have no bearing, but maybe it's relevant that I was logged in as Admin in the same browser ses

[2014-02-17 15:03] menelic opened #2 "Can't respond to comments"
I cannot respond to my own comments. Since comments are not visible to others in my etherpad instance (see #1 ) I can't tell if this is a feature or a bug, but I think the possibility to respond to one's own comment is a desirable feature (cos it visually signals to others that there is a debate on that point, that various points are made, even if by the same person)

[2014-02-17 15:11] menelic opened #3 "Feature request: Text between specific signs auto-formatted as comment"
Comments are key for collaboration - but inserting them can interrupt the flow of writing. Please define some specific signs, words between e.g. \ and \ are automatically formatted as comments and transferred to the side pane. It would of course be great if the characters that trigger the commenting of text could optionally be user-defined

[2014-11-16 23:14] JohnMcLear opened #4 "Not running page view makes things look a little weird"

[2014-11-16 23:17] JohnMcLear opened #5 "The input field is really ugly."

[2014-11-16 23:17] JohnMcLear opened #6 "The comment should really have the authors color"

[2014-11-16 23:18] JohnMcLear opened #7 "Clicking reply doesn't work"

[2014-11-16 23:18] JohnMcLear opened #8 "Hovering over an annotated link doesn't highlight the comment"

[2014-11-16 23:18] JohnMcLear opened #9 "Hovering over a comment doesn't show the annotated piece of text"

[2014-11-16 23:19] JohnMcLear opened #10 "Comments don't show at all when X px gets too low"

[2014-11-16 23:20] JohnMcLear opened #11 "Comment Icon should be an icon not an image"

[2014-11-16 23:21] JohnMcLear opened #12 "There should be a section to show "all comments" which is updated whenever a comment is adeded"
This should be on the right side of the screen if there is enough X PX

[2014-11-16 23:22] JohnMcLear opened #13 "Comments on the same line overlap"

[2014-11-16 23:22] JohnMcLear opened #14 "Moved annotations on Y axis can't be hovered"
Content split with a line break loses comment hover.

[2014-11-17 16:51] #14 closed, assigned to nobody

[2014-11-17 16:51] #13 closed, assigned to nobody

[2014-11-17 16:52] #7 closed, assigned to nobody

[2014-11-17 16:55] #1 closed, assigned to nobody

[2014-11-17 17:26] #9 closed, assigned to nobody

[2014-11-17 17:47] #5 closed, assigned to nobody

[2014-11-17 17:53] #8 closed, assigned to nobody

[2014-11-17 23:01] #10 closed, assigned to nobody

[2014-11-21 00:25] #11 closed, assigned to nobody

[2014-11-21 00:25] #4 closed, assigned to nobody

[2014-11-21 00:25] #2 closed, assigned to nobody

[2014-11-21 00:25] #3 closed, assigned to nobody

[2014-12-11 00:18] Tamriel opened #16 "Not working"
The comment button has no icon.
If I click it, nothing happens and the console gives:
[code]

[2015-01-02 19:15] JohnMcLear opened #17 "Check functionality when embedded in a blog post etc."
I think comments is a bit b0rked when embedded.

[2015-01-14 17:39] #16 closed

[2015-01-14 19:06] #17 closed

[2015-01-14 19:07] JohnMcLear opened #18 "Provide option to hide/show comments"

[2015-01-14 19:30] #18 closed

[2015-01-26 05:20] liuliming2008 opened #19 "Comment cant display on firefox 35 ie 11 chrome 39"
On windows7 64bit, build the latest version, after comments plugin installed, the comment input dialog is showed. But the comments of the pad dont display.
Steps:
1 build the latest version,  install comment plugin  ,open a pad
2 click the comment button, they comment input dialog shows
3 type something, click comment to submit
4 the dialog dispear, but the comment not display on the pad content

[2015-01-26 12:55] JohnMcLear commented on #19
Do you still get the javascript errors when ep_comments_page is not installed?  They don't look related.

[2015-01-26 13:04] JohnMcLear commented on #19
Tested on beta.etherpad.org and everything is fine.

[2015-01-26 13:05] JohnMcLear commented on #19
You do realize you have to select the content you want to comment on before commenting right?

[2015-01-27 03:04] liuliming2008 commented on #19
Yes, I select content to comment.
After uninstall the ep_comments_page plugin, the error dispear.
I installed the plugin with url/admin/plugins, the url is yundoc.cc:9003
The error means the request url changed from yundoc.cc:9003/socket.io to yundoc.cc/socket.io, and this change realate with the ep_comments_page plugin

[2015-01-27 10:18] JohnMcLear commented on #19
@liuliming2008 sounds like your plugin issue is environment specific then.  Without being in your environment I can't fix.  You might want to hire either me or another Etherpad consultant to look into your environment for you.  I cannot connect to your instance.

[2015-01-28 08:20] liuliming2008 commented on #19
@JohnMcLear
I fixed this in my way.
I find that if the plugin file use relative uri, such as io.connect("/comment"), it will lead to socket.io.js line 1050:
uri = loc.hostname + uri; // var loc = loc || global.location;
The loc.hostname is yundoc.cc, not yundoc.cc:9003.
Here of loc.hostname should be repalced by loc.host or loc.hostname+':'+loc.port.

So I modified the socket.io.js like that, the

[2015-01-28 08:43] liuliming2008 commented on #19
And the comment replies will not be updated until input a new replay at local pad.

[2015-01-28 13:13] JohnMcLear commented on #19
Please create issues for each problem.  Do not put all issues here.

RE path, can you submit a pull request with a fix?

[2015-01-28 13:17] JohnMcLear commented on #19
@liuliming2008 please read this before posting further: http://mclear.co.uk/2015/01/15/how-to-write-a-bug-report/

[2015-01-31 11:45] liuliming2008 commented on #19
@JohnMcLear  Relaitive path is a socket.io bug I think, I will submit to socket.io.

[2015-01-31 13:28] mmccarn opened #20 "multi-line comments should collapse when not in focus"
1. Create two lines of text
2. attach a comment that is 3 or more lines long to the first line
3. attach a comment to the second line
When done, the first comment continues below the second comment when the focus is on the second comment:
![screen shot 2015-01-31 at 8 19 47 am](https://cloud.githubusercontent.com/assets/2945678/5988162/f940ed5e-a921-11e4-8d63-6766328dc217.png)

I think the interfa

[2015-02-01 23:29] JohnMcLear commented on #20
@mmccarn +1 this, it's an easy CSS fix, something you want to do maybe?

[2015-02-02 02:42] liuliming2008 opened #21 "Comments not display the latest update"
I tested this on the last dev version and beta.etherpad.org, on windows 7 chrome 39, ie 11, firefox 35.
Steps:
1 open two client(client-A,client-B) for the same pad pad-n
2 input n comments at client-A
3 client-B show n-1comments on the pad
4 input n+m comments at client-A
5 client-b show n+m-1 comments on the pad

Review this code:
[code]
This function will fail to add new comment in self.collect

[2015-02-02 21:58] mmccarn commented on #20
If it hangs out here long enough I might work on it.  CSS is pretty opaque to me (but if you need help with your foxpro...)

[2015-02-02 21:59] JohnMcLear commented on #20
funny you should say that..  I'm thinking about writing an FPS game similar to call of duty in foxpro...  10/10 would recommend?

[2015-02-02 23:00] JohnMcLear commented on #20
@mmccarn so I put a fix in for this but it will probably break non-hover devices functionality such as ipads so you will need to deal with that when the complaints land ;)  https://github.com/JohnMcLear/ep_comments/commit/67f0b96d8cba7173024305eeaf4bd15f836e734a

[2015-02-02 23:01] #20 closed

[2015-02-02 23:01] JohnMcLear commented on #19
pushed fix for socket issue.

[2015-02-02 23:01] #19 closed

[2015-02-19 20:54] jdittrich opened #23 "Links to static resources not working"
**Problem:** After installing the plugin  files like `main.css` and  `jquery.tmpl.min.js` could not be loaded.
**Possible cause:** The concerning etherpad instance does not run on a own domain, but on a subdomain.
**Possible solution:** After comparing the way *ep_comments* links the resources with the way  other plugins (e.g. [ep_page_view](https://github.com/ether/ep_page_view)) do it, I noted t

[2015-02-20 09:40] jdittrich opened #24 "Feature Suggestion: Delete Button for Comments"
**Use Case:** I wrote a comment which is no longer needed or useful. I want to get rid of that comment.

**Current Problems:**
* Seemingly the whole text on which I commented needs to be removed to remove the comment as well.
* As a user, I may be unaware of the possibility to remove the text to remove the comment

**Solution**
* Like in (probably) familiar office suites, the comment fields can ha

[2015-02-20 10:51] JohnMcLear commented on #24
Doable but will need funding / sponsorship as I'm fully booked up doing bug fixes

On 20 Feb 2015 09:39, jdittrich <notifications@github.com> wrote:

Use Case: I wrote a comment which is no longer needed or useful. I want to get rid of that comment.

Current Problems:

  *   Seemingly the whole text on which I commented needs to be removed to remove the comment as well.
  *   As a user, I may be u

[2015-02-21 12:37] JohnMcLear commented on #23
I'd accept a pull request with this fix in for sure :) Thanks!

[2015-03-05 16:05] #21 closed

[2015-04-22 16:42] jdittrich commented on #24
I tried to have a look at the problem on my own cause my org could not provide funding. However, I could not find out, how the comments are deleted in the first place. Could you give me a hint?

[2015-04-22 17:06] jdittrich commented on #24
o.k. just found out that while the browser is open the comments are just not displayed instead of being removed.

[2015-05-07 19:47] lpagliari opened #26 "Feature suggestion: Add a route to create a comment on a pad"
This is a feature suggestion, and I'll work on it. I just wanted to get some feedback before implementing it to make sure I'll address everything we need.

My suggestion is to create a route on the API to post a comment to a pad. So basically the steps would be:

* register a POST route `/p/:pad/:rev?/add/comment/` (or should it be `/p/:pad/:rev?/addComment/`?)
* from there we call `comments.addPa

[2015-05-07 19:49] JohnMcLear commented on #26
Sounds good.  Just remember to include some testing if you can! Thanks! J
----- Reply message -----
From: "Luiza Pagliari" <notifications@github.com>
To: "JohnMcLear/ep_comments" <ep_comments@noreply.github.com>
Subject: [ep_comments] Feature suggestion: Add a route to create a comment on a pad (#26)
Date: Thu, May 7, 2015 20:47

This is a feature suggestion, and I'll work on it. I just wanted to

[2015-05-08 18:38] lpagliari commented on #26
Ok, so I got stuck here:

* I've create a simple GET route, worked fine
* When I changed that to POST, I started getting `405: Only the HEAD or GET methods are allowed.`
* I've tried installing `ep_post_data` to make sure is not a problem with Nginx or my Etherpad version, worked fine too (pads were created as expected)

So after comparing `ep_comments` and `ep_post_data` for a while, I figured ou

[2015-05-19 16:28] JohnMcLear opened #28 "Unable to post a comment from readonly"
Due to EP security model

[2015-05-19 16:54] JohnMcLear commented on #28
Probably need to hook into ``handleMessage` `or so

[2015-05-20 00:30] JohnMcLear commented on #28
Fixed in EP develop.

[2015-05-20 00:30] #28 closed

[2015-05-20 10:30] JohnMcLear commented on #23
@jdittrich resolved this :) Thanks!

[2015-05-20 10:30] #23 closed

[2015-05-20 10:31] JohnMcLear opened #29 "Allow for "suggestions" for changes"
IE user a(r/o user) wants to change "hello" to "hello world" - they should be able to suggest this change.

[2015-05-21 17:11] JohnMcLear commented on #29
Done

[2015-05-21 17:11] #29 closed

[2015-05-21 17:11] JohnMcLear opened #30 "User can only suggest a change on a comment once"

[2015-05-22 10:53] JohnMcLear opened #32 "Suggested Changes across multiple lines don't work"

[2015-05-22 10:53] JohnMcLear commented on #26
@lpagliari Can this be closed or did you want to extend to include suggested changes?

[2015-05-22 10:54] JohnMcLear commented on #24
The conundrum here is "who" can delete comments..  They should be deletable by anyone I guess as they will always remain in previous versions of a pad.

[2015-05-22 10:55] JohnMcLear opened #33 "Comments don't show in timeslider"

[2015-05-22 12:36] #26 closed

[2015-05-22 12:36] lpagliari commented on #26
No, it's complete now.

[2015-05-22 14:52] lpagliari opened #34 "Opening newComment template with suggestion elements visible when includeSuggestion is not selected"
To reproduce:

1. click the button to add a comment;
2. click on Cancel, instead of creating the comment;
3. click the button to add a comment again;
4. the form will be opened with suggestion elements visible:

![image](https://cloud.githubusercontent.com/assets/836386/7773098/95420f1e-0078-11e5-81af-6eb8851e1c62.png)

Seems to be an easy fix. I can work on it after I'm done with l10n, if you wan

[2015-05-22 15:55] jdittrich commented on #24
Delete for everyone: Yes.

I tried to implement a removal function for comments myself, however they seem to be created by
[code]
And I could not find out how to revert these, since both functions are sorta undocumented.

[2015-05-22 16:01] JohnMcLear commented on #24
Well deleting comment would delete all replies too.  Might make sense to delete a comment reply first?

On 22 May 2015 16:55, jdittrich <notifications@github.com> wrote:

Delete for everyone: Yes.

I tried to implement a removal function for comments myself, however they seem to be created by

ace.ace_performSelectionChange(rep.selStart,rep.selEnd,true);
ace.ace_setAttributeOnSelection('comment',

[2015-05-22 16:01] JohnMcLear commented on #34
Yes please that would be useful!

On 22 May 2015 15:52, Luiza Pagliari <notifications@github.com> wrote:

To reproduce:

  1.  click the button to add a comment;
  2.  click on Cancel, instead of creating the comment;
  3.  click the button to add a comment again;
  4.  the form will be opened with suggestion elements visible:

[image]<https://cloud.githubusercontent.com/assets/836386/7773098/9542

[2015-05-22 16:20] JohnMcLear commented on #24
/s/set/remove would do it btw

On 22 May 2015 16:55, jdittrich <notifications@github.com> wrote:

Delete for everyone: Yes.

I tried to implement a removal function for comments myself, however they seem to be created by

ace.ace_performSelectionChange(rep.selStart,rep.selEnd,true);
ace.ace_setAttributeOnSelection('comment', commentId);

And I could not find out how to revert these, since both fun

[2015-05-25 21:32] JohnMcLear commented on #34
Ah just doing a git pull should have this fixed.

[2015-05-25 21:32] #34 closed

[2015-05-29 17:17] lpagliari opened #36 "Feature suggestion: Display comments as icons on right margin"
On the Etherpad instance we're using, we need another way to display comments. I don't know if it would be useful for ep_comments to have it incorporated to the code, or if we should implement it on a separated plugin (or a fork of this one). Let me know if you think this is something nice to have here, and I'll submit a PR.

Here are the details about it:

* Instead of displaying boxes on the rig

[2015-05-29 18:08] JohnMcLear commented on #36
Do it in the main branch but put it under a server side setting called "onlyShowCommentIcon" or something :). Its a good suggestion BTW as it keeps ui clean

On 29 May 2015 18:17, Luiza Pagliari <notifications@github.com> wrote:

On the Etherpad instance we're using, we need another way to display comments. I don't know if it would be useful for ep_comments to have it incorporated to the code, or

[2015-05-29 18:23] lpagliari commented on #36
Awesome, thanks!

[2015-05-31 00:47] JohnMcLear commented on #32
Pull request is in for this, waiting on testing

[2015-05-31 16:02] JohnMcLear commented on #30
this is fixed in multiline branch

[2015-05-31 16:02] #30 closed

[2015-05-31 21:44] #32 closed

[2015-06-01 00:56] kentonv commented on #24
How much? :)

[2015-06-01 09:39] JohnMcLear commented on #24
Few hours to do code, an hour on test coverage so US ~$250

[2015-06-01 15:54] lpagliari opened #41 "API POST routes returning 405"
tl;dr
When `ep_etherpad-lite/static` is loaded before `ep_comments_page`, API POST routes return `405: Only the HEAD or GET methods are allowed`. Apparently just adding this hook on `ep.json` fixes the issue:

[code]

Long story:

I've noticed that sometimes the POST routes on the API were returning `405: Only the HEAD or GET methods are allowed`. As it was kind of a random behaviour, my guessing

[2015-06-01 16:48] JohnMcLear commented on #41
Yea I have no idea on this..   Seems a bit bonkers though...  Might be worth contributing this fix to https://github.com/johnmclear/ep_post_data too ?

[2015-06-01 19:01] lpagliari commented on #41
Done.

[2015-06-02 00:27] kentonv commented on #24
OK, Sandstorm will be happy to sponsor. Where do we send payment? (Or e-mail kenton@sandstorm.io with details.)

[2015-06-03 20:55] #41 closed

[2015-06-11 22:40] JohnMcLear commented on #36
Quick question, does this introduce another http request?

[2015-06-11 22:47] lpagliari commented on #36
Nope, it just handles what comes on the inner pad (the comment ids), in a
very similar way of what is done with sidebar comments.

On Thursday, June 11, 2015, John McLear <notifications@github.com> wrote:

[2015-06-14 21:09] jdittrich commented on #24
I checked out the master and was happy to see that the feature works (thanks, @JohnMcLear, @kentonv) – shall we close this?

[2015-06-14 22:27] jdittrich opened #48 "usability/UI: Replys and Changes"
Several minor-to-medium usability problems. Non of them is likely to cause severe breakdowns, however they hinder flow and intuitive understanding

I would try to take on these myself, but maybe I oversaw some technical reasons for these, so I file them here in case they need to be discussed before:

1. Replies can be added by entering text in a textbox below current replies. It would be good to p

[2015-06-15 12:17] JohnMcLear commented on #24
Can be closed.

[2015-06-15 12:17] #24 closed

[2015-06-15 12:28] JohnMcLear commented on #48
"Replies can be added by entering text in a textbox below current replies" -- Agreed - something I'm working on this week hopefully

"A quirk here is that this text is placed in a textarea field." - Happy for you to make this change

If "suggest change" is checked, the checkbox jumps to the bottom of the comments field, - Happy for you to make this change

[2015-06-15 14:51] jdittrich commented on #48
...fixed 2. (Textarea to p) , though seemingly the ejs templates have some trouble with nesting elements. Could program around that though.

[2015-06-15 15:47] jdittrich opened #49 "Bug: reset suggestion UI"
Reproduce this:
1. Mark some text,
2. click "Add Comment"
3. interact with the comment Dialog, check "Include suggested change"
4. click cancel
5. repeat 1. and .2.

What should happen:
* The from/to fields should not be visible (works not)
* If "Include suggested change" is checked, "From" should contain the currently selected text.

What happens instead:
* Though the checkbox for "Include sugges

[2015-06-15 19:31] JohnMcLear commented on #49
@jdittrich you taking this on?

[2015-06-15 19:37] JohnMcLear commented on #48
@jdittrich you sending a pull request with the fixes in?

[2015-06-15 19:38] jdittrich commented on #49
hmm, dunno – I assume a reset structure is already in place. You are probably way quicker. But: it would accelerate/ease it if you could point out the current place where you think the resets should/may happen (I don’t get the structure yet, partly because extensions are a bit tricky to debug (or I am doing it wrong))

[2015-06-15 19:39] jdittrich commented on #48
yes; noticed that `.html(` may create security problems, needed to rework it.

[2015-06-15 20:45] jdittrich commented on #48
request send

[2015-06-15 20:45] JohnMcLear commented on #48
huh??

[2015-06-16 15:09] lsowen opened #52 "Comment can't be deleted"
I am using the latest version (``0.0.22``) with etherpad ``1.5.6``.  On one pad, I have one comment which can't be deleted.  Clicking the "delete" button fires the message back to the server, and I don't receive any errors on the server, but the comment persists.

Any suggestions for debugging and/or manually removing the comment?

[2015-06-16 16:44] JohnMcLear commented on #52
I just published 0.0.23, give that a go..

[2015-06-16 17:14] lsowen commented on #52
Still exhibits the same behavior (message sent to server, no server error messages, but the comment isn't removed).

![comment_issue](https://cloud.githubusercontent.com/assets/1014577/8189297/6458a2a4-1429-11e5-946a-8f8a704e69df.png)

Unfortunately I had to blur out all the text.

The only entry in the server log is ``[INFO] ueberDB - Flushed 3 values``.

[2015-06-16 17:26] JohnMcLear commented on #52
Can you provide steps to replicate the issue on a new pad please?

[2015-06-16 17:34] lsowen commented on #52
John,

Good thinking.  I was able to replicate the issue:

1. Start a new pad
2. Create either an unordered or ordered list
3. Highlight part of one line of the list
4. Create a comment
5. Attempt to delete the comment

Let me know if you need additional information to attempt to duplicate the issue.

[2015-06-16 17:37] JohnMcLear commented on #52
Confirmed, will sort tonight hopefully.

[2015-06-16 22:46] JohnMcLear commented on #52
Donations welcome http://etherpad.org

[2015-06-17 19:29] JohnMcLear commented on #36
I put this live on https://beta.etherpad.org/p/HAKOOKy48b so it gets some testing..

Some thing I noticed..

1) It looks kinda bad when page view isn't on

2) Icons don't look right still?

[2015-06-17 19:32] lpagliari commented on #36
Still working on that. I finished my fixes for the icons when PV is off some minutes ago, but had to rebase and now I'm checking if something is broken after the last 30+ commits we had on the last few days. :)

[2015-06-17 19:33] JohnMcLear commented on #36
Yeah sorry about that..  I'm done now =)

[2015-06-17 19:34] lpagliari commented on #36
no, no, it was awesome!! Great features, I loved it

[2015-06-17 19:47] lpagliari commented on #36
ok, submitted PR #57 now.

[2015-06-17 19:51] JohnMcLear commented on #36
Updated beta.etherpad.org still getting that issue.  Maybe it should be forcing page view on too?

[2015-06-17 19:55] lpagliari commented on #36
Hum, it looks fine for me when PV is off:

![image](https://cloud.githubusercontent.com/assets/836386/8217108/892520b0-1511-11e5-8698-307019ba4d6d.png)

[2015-06-17 20:25] JohnMcLear commented on #36
![image](http://i.imgur.com/WymcdOO.png)

[2015-06-17 20:30] lpagliari commented on #36
This is the icon I added to Etherpad code a few days ago. Is beta.etherpad.org using the `develop` branch?

[2015-06-17 20:41] JohnMcLear commented on #36
blah good point I don't think I pulled the repo, sec..

[2015-06-17 20:42] JohnMcLear commented on #36
There ya go, looking sexy!

Good job!

[2015-06-17 20:42] #36 closed

[2015-06-17 20:43] lpagliari commented on #36
:)

[2015-06-18 14:29] lpagliari opened #59 "Modal displays part of reply form"
Comment modal is displaying part of the "suggested change" form.

To reproduce:
1. Check setting to "Show Comments";
2. On any comment, check "Include suggested change";
3. Uncheck setting to "Show Comments";
4. Display modal of the comment of step 2;

Expected:
![image](https://cloud.githubusercontent.com/assets/836386/8233488/e415f684-15ac-11e5-8661-9618f7b04ce6.png)

Actual:
![image](https://cl

[2015-06-18 15:29] JohnMcLear commented on #59
@lpagliari is this something I can assign to you?

[2015-06-18 15:29] JohnMcLear commented on #48
Is this now resolved @jdittrich  ?

[2015-06-18 16:28] jdittrich commented on #48
Yes, we can close this.

[2015-06-18 16:28] #48 closed

[2015-06-18 17:36] lpagliari commented on #59
I won't be able to work on this right now, but can take a look later.

[2015-06-18 18:06] lsowen commented on #52
@JohnMcLear Looks like there is a similar issue when comments are placed on headers created by ``ep_headers2``.  Steps to recreate:

1. Start a new pad
2. Create a line and assign a header style
3. Add a comment to a portion of the line
4. Attempt to delete the comment

[2015-06-18 18:56] JohnMcLear commented on #59
Later is fine :) thanks!

On 18 Jun 2015 18:50, Luiza Pagliari <notifications@github.com> wrote:

I won't be able to work on this right now, but can take a look later.

—
Reply to this email directly or view it on GitHub<https://github.com/JohnMcLear/ep_comments/issues/59#issuecomment-113230616>.

[2015-06-19 12:10] JohnMcLear commented on #52
If that's teh case its probably an ep_headers2 bug as it uses divs where it should not...

I don't see ep_headers2 though..

[2015-06-19 12:11] lsowen commented on #52
Sorry, not `ep_headers2``, ``headings2``:  https://github.com/johnmclear/ep_headings2

[2015-06-19 12:18] JohnMcLear commented on #52
hrm, weird, okay will test.

[2015-06-19 12:19] JohnMcLear commented on #52
Confirmed..  Gah

[2015-06-20 12:12] JohnMcLear commented on #52
Solved :) https://github.com/JohnMcLear/ep_comments/commit/f838d3e535c5eeb9e462c842973cbff9af46bc96

[2015-06-20 12:12] #52 closed

[2015-06-20 12:12] JohnMcLear commented on #52
Contributions welcome at http://etherpad.org

[2015-06-26 10:16] #59 closed

[2015-06-29 21:00] lpagliari opened #67 "Work smoothly on mobile devices"
I was testing ep_comments on mobile devices (iPad and iPhone, for now) and noticed some functionalites were not working properly there (clicking to open/close the comment modal, adding comments, etc).

I'm planning to work on this, so wanted to know if anyone has any concerns about it. It seems that http://jquerymobile.com/ could help us, but to be honest I just gave a fast look on it.

Concerns a

[2015-06-29 21:09] JohnMcLear commented on #67
Happy for you to fix but plz avoid jqm.  It's really bloated and will req another http request that I want to avoid
----- Reply message -----
From: "Luiza Pagliari" <notifications@github.com>
To: "JohnMcLear/ep_comments" <ep_comments@noreply.github.com>
Subject: [ep_comments] Work smoothly on mobile devices (#67)
Date: Mon, Jun 29, 2015 22:00

I was testing ep_comments on mobile devices (iPad and

[2015-06-30 13:54] gulaschskanone opened #68 "comment in a read-only Pad?"
How do you think? Could it be possible to comment in a read-only Pad?
They are stored to database, too

key:
[code]
value:
[code]
(commentManager.js, line 62, right?)

But in

key:
[code]

there won't be the comment (commentId), so after reload the pad the comment won't be shown.
Is that the consciously behavior? Does anyone know a way / fix to save comments on read-only pads?

[2015-06-30 13:58] JohnMcLear commented on #68
You can already comment in a read only pad afaik.

[2015-06-30 13:58] JohnMcLear commented on #68
Or is it you can see them but not reply?

[2015-06-30 14:13] gulaschskanone commented on #68
After press on "Comment" the input is visible like in the editable view - but after reload no more. In the database I also can't find the given input. Deletion comments in read-only mode (saved in editable mode) will also not working persistently.
It's a uncommon behavior on my system, right?

[2015-06-30 14:14] JohnMcLear commented on #68
I swear I added support for this..  Did you checkout latest version?

[2015-06-30 14:30] gulaschskanone commented on #68
I added via "npm install ep_comments_page" version 0.0.32
after reinstall via "git clone" it's unfortunately the same behavior

[2015-06-30 14:33] JohnMcLear commented on #68
Mheh, will take a look tonight or tomorrow.

[2015-06-30 22:46] JohnMcLear commented on #68
https://github.com/JohnMcLear/ep_comments/pull/39

[2015-06-30 22:47] JohnMcLear commented on #68
I'm not gonna get time to look at this now until Late August, apologies!

[2015-07-17 12:56] lpagliari commented on #49
Fixed by a82f171

[2015-07-17 12:56] #49 closed

[2015-09-17 14:29] gulaschskanone commented on #68
Hey, how would you fix this? Maybe one of us can try.

[2015-09-18 14:01] JohnMcLear commented on #68
Just allow comments through as an allowed message type and add the comments container to the read only view.

[2015-09-18 16:04] gulaschskanone commented on #68
If you say that, it sounds so easy...
I have no idea how I can define comments as allowed.

[2015-09-18 16:06] JohnMcLear commented on #68
@gulaschskanone I'm available as a gun for hire if you want to get this done sooner than I get spare time?

[2015-09-28 20:19] Cyrille37 opened #78 "comments not displayed in Firefox"
Hi
The plugin works fine with Chromium but not with Firefox. Firefox permits to create comment but they are not displayed.
Cheers.

[2015-09-28 20:29] lpagliari commented on #78
Can you provide more details? It is working on my instance on FF, Chrome, and Safari. Did you get any error/warning on the console?

[2015-09-28 20:53] Cyrille37 commented on #78
No special thing.
FireFox 41.0 on Ubuntu 14.04 LTS

[2015-10-02 20:45] joassouza opened #79 "It doesn't copy comment from another pad"
When I paste a text commented from another pad doesn't bring the whole comment just the text. It's showed the text with the background set to yellow.
Set the background to yellow makes the user confused but it seems to be easy to fix it just changing the comment class to something unique to the pad. IMHO copy the whole comment it'd be the expected behavior in this situation. Any idea how to solve

[2015-12-14 16:16] jdittrich commented on #78
can we close this?

[2015-12-14 23:50] #78 closed

[2016-03-25 15:35] niallmurphy-ie commented on #67
Hi lpagliari, did you ever make any progress on adding a comment to an existing comment on mobile?

I have a system built already with Annotator JS but would love to jump completely over to etherpad.

[2016-03-25 19:25] lpagliari commented on #67
No, I've started to work on it but did not finished, and later mobile devices were not our top priority on the project.

[2016-04-27 16:40] milan-w opened #88 "Publish latest version of this plugin on npm"
Hi John!

Would you please publish the latest version of this plugin on npm?
We manage most of our dependencies this way and it would be awesome if we could use all of the improvements you and the other contributors made in the last 10 months without resorting to github pulls.

Thanks a bunch!
Cheers,
Milan

[2016-04-27 16:43] JohnMcLear commented on #88
Done.  Sorry I have been really busy

[2016-04-27 16:43] #88 closed

[2016-04-27 16:44] JohnMcLear commented on #88
[code]

[2016-05-01 19:38] Flauschie opened #89 "Comment Icon not shown, chat frame overlaps comment field"
The comment icon which can be activated via its appropriate function won't be shown and the comment field is being overlapped by the chat frame.

I have added the settings at the end of my settings.json. Highlighting works.

[code]

EDIT: both "ep_page_view" and "ep_comments_page" were installed via npm install (no git clone involved)

EDIT2: Added pictures for clarification

![comment_bug_01](htt

[2016-05-01 23:07] lpagliari commented on #89
Your second "ep_comments_page": {...} is overwriting the first one. You
need to place both properties on the same block if you want both turned on:

"ep_comments_page": {
"displayCommentAsIcon": true,
"highlightSelectedText": true
}

Regarding the chat window, if you are not using the chat feature, it is
possible to turn it off on Etherpad settings (I don't remember which one
now, but it's on the

[2016-05-01 23:11] Flauschie commented on #89
Oh my god. I should go to bed. Too much work done today. Thank you very much for your help, I appreciate it!!!

[2016-05-01 23:11] #89 closed

[2016-05-02 08:16] Flauschie opened #90 "URLs cannot be clicked using "displayCommentAsIcon""
If  "displayCommentAsIcon" is being used I am not able to click URLs anymore.

Reproduceable (un)commenting "displayCommentAsIcon". Doesn't matter whether being used with "highlightSelectedText".

No error in log.

[2016-05-05 15:17] rugk opened #91 "Does not use translation"
As I see the [German translation](https://github.com/JohnMcLear/ep_comments/blob/master/locales/de.json) is included in the repo, but it is not used in my installation.
Plugin version:  0.0.33
Etherpad v1.6.0

In Firefox (v43) it also shows me this:

Couldn't find translation key ep_comments_page.delete_comment.title html10n.js:831:1
Couldn't find translation key ep_comments_page.comments_template

[2016-05-05 15:57] lpagliari commented on #91
Working here:
![image](https://cloud.githubusercontent.com/assets/836386/15048529/613fbcf6-12c0-11e6-9440-4947b4f65729.png)

Tested on both Chrome and Firefox, on a Mac. @rugk , can you provide more details about the environment you are testing at, please? Did you try restarting the server?

[2016-05-05 16:19] rugk commented on #91
Good suggestion. After restarting it worked...
However this is strange as I installed the plugin via the admin panel and I thought there everything should be handled, so that it works.
Other plugins also do not need a manual restart.

[2016-05-05 16:41] rugk opened #92 "UX: No submit button when replying to comments"
There is no submit or comment button when replying to comments. This is bad as it is no good UX to require the user to press enter.

E.g. this is the "workflow" when _adding a suggestion_ (so not adding a actual comment) to a user who commented on a line:
1. Hover over the comment
2. Click on "Suggest changes"
3. Enter the suggestion
4. Click bad into the field for entering a comment (bad UX!, few

[2016-05-05 16:50] rugk opened #93 "Long discussions are partly shown outside of the screen --> Add scrollbar inside of the comment window"
Reproduce: Just comment and reply yourself a few times. To make it longer you can also include suggestion.

What happens:
![longcomments](https://cloud.githubusercontent.com/assets/11966684/15049939/4bdec7e0-12f1-11e6-855b-6da7da28895d.png)

A scrollbar appears...

What should happen:
In long pads which already are longer than the screens height, this is not a problem, but for smaller documents it

[2016-05-05 17:03] rugk opened #94 "Font Awesome issues (delete button not shown)"
Actually I found out the delete button needs font awesome (which is not needed by Etherpad in general as it seems). Font awesome is saved under `etherpad/static/font/fontawesome-etherpad.woff`.

However the delete button was not shown.

But from having q quick look on your code you seem to use etherpad-lite to load font awesome, so I reported the issue there: https://github.com/ether/etherpad-lite

[2016-05-05 17:21] rugk opened #95 "Floating comment button"
It would be great if the comment button would only appear when text is selected.

So if the user selects some text a transparent version of the current button appears next to the selection. If the user hovers over this button it gets opaque and afterwards it just works as the current button.
When there is already a comment on a line the button could already become visible when hovering (not markin

[2016-05-05 17:29] rugk opened #96 "UX: Add disabled button"
The behaviour of the toolbar button should be improved.

### When no text is selected
Current behaviour: Button as usual (enabled)
Best behaviour: Disabled

### When text is selected
Current behaviour: Button as usual (enabled)
Best behaviour: Button as usual (enabled)

This behaviour could further be improved by having a floating button. See https://github.com/JohnMcLear/ep_comments/issues/95.

[2016-05-05 17:49] lpagliari commented on #96
@rugk This is a good idea, could you help us on that? This hook might be what you need: http://etherpad.org/doc/v1.6.0/#index_aceselectionchanged

[2016-05-05 18:02] lpagliari commented on #94
The icon is part of Etherpad code. This PR added icons to it, for example: https://github.com/ether/etherpad-lite/pull/2690. On its discussion you might find a way to fix your issue too.

[2016-05-05 18:04] lpagliari commented on #91
I'm not very familiar with the part of the code where Etherpad installs plugins and reloads their contents, but I've suggested restarting the server because I had the same issue before when the .json file was created after the server was started. Maybe this is an issue of that part of Etherpad code...

[2016-05-05 18:04] #91 closed

[2016-05-05 19:24] rugk commented on #91
Mhh, okay. I've opened an issue there...

[2016-05-16 17:50] rugk commented on #94
Please reopen this issue, because ep_comments seem to have an issue with that files:

Reproduce:
0. Install Etherpad with this plugin. (in a subdir)
1. Go to a pad, switch your browser console so you see loaded reuqests.
2. Filter it, so only fonts are shown.
3. Now hover over a comment.

What you'll see:
In step 2 you'll see the font being loaded:
[code]

However when hovering over the comment an

[2016-06-13 10:27] ldidry opened #99 "Could you publish a new version on NPM?"
Hello @JohnMcLear, the [french locales](1ffbf50bcd9ddf27173227615b146af4785465d3) has been merged.

Could you publish a new version on npm please?

[2016-06-13 10:30] JohnMcLear commented on #99
Done

[2016-06-13 10:30] #99 closed

[2016-06-13 10:32] ldidry commented on #99
Thx :+1:

[2016-07-21 03:27] DanielBickley commented on #67
Hi @lpagliari, I know you worked on the comment icon portion, and I've run into an issue with the comment icon itself where it is not triggered on a tablet (i.e. there is no way to open a comment dialogue via icon on an iPad). I've tried converting the 'click' events in ep_comments_page/static/js/index.js to 'touchstart click' and I see you already have them that way in ep_comments_page/static/js/

[2016-07-21 14:00] lpagliari commented on #67
No, @DanielBickley. Initially I was developing a plugin that would display a popover every time user selected a text (and that would listen to touchstart), but I didn't have time to finish it before moving to another direction.

Your idea of adding touchstart to click seems correct to me, I believe it would enable adding comments on iOS.

[2016-07-27 15:48] DanielBickley commented on #67
@lpagliari thanks for your help. As it turns out, the clicks were being respected on the iPad, only the measurements on the text area width were off ~80px for me (i.e., the comment block on the right was actually covering the icons making them unclickable). I adjusted widths in the media query a bit and iPad is working.

[2016-07-27 18:58] lpagliari commented on #67
Awesome!

On Wed, Jul 27, 2016 at 12:48 PM, DanielBickley <notifications@github.com>
wrote:

[2016-09-16 01:13] CompuRoot opened #102 "No comments after export/import a pad"
Exporting a pad and following import to another pad haven't exported comments, just keeps yellow highlighting (possibly related to issue#79)

[2016-09-16 13:33] lpagliari commented on #102
Yes, @CompuRoot , I believe #79 is related to this. We're currently working on a fix for that other issue, probably when it is finished it will be easier to fix this one.

[2017-08-03 05:17] Billaboong commented on #89
I am not also able to see the comments Icon as they are no being rendered properly....I am using the displayCommentAsIcon setting.
Attached image is how the icon is showing.

![etherpad_comments_error](https://user-images.githubusercontent.com/4427236/28906931-dac1311c-7823-11e7-874b-db359442f880.png)

[2017-08-03 13:04] lpagliari commented on #89
@Billaboong there are two things you might need to consider:

- the Etherpad version you're using: please make sure you have at least [version 1.5.7](https://github.com/ether/etherpad-lite/commit/1353c093dbad9514c50ce81fcc806ad93d25ae03);
- make sure you [clear your browsing data](https://github.com/ether/ep_comments/pull/46#issuecomment-111514367), so icons are reloaded.

[2017-11-01 15:21] vedantparchulkar opened #112 "Disable/Remove delete comment option from readOnly pads"
Is there any way to disable/remove delete comment option from readOnly pads?

[2017-11-06 04:35] vedantparchulkar commented on #33
Hi @JohnMcLear

Is there any option to show comments in timeslider?

[2020-04-12 12:14] Oremountainflorian opened #116 "Two Bugs when displaying comments + comment suggest change doesn't work"
**Summary**

There occur two appeareance bugs with the comments plugin and within this the option.

**Steps to reproduce**

I'm using Windows 8.1 and Firefox 75.0

- (1) Go to a line and add several comments, then they overlap. The last one always hides the other ones so that the others can't be edited (The screenshot below was taken from https://pad.systemli.org)
![Pad_Systemli_overlapping_commen

[2020-04-20 11:17] JohnMcLear opened #118 "Update screen shots to 1.8.3 styleee"

[2020-05-01 17:35] thmo commented on #68
Current (ep: 1.8.3, ep_comments: 0.1.0) behavior is like this: Comments can be added on the pad as well as on the read-only pad, but the contents of the comments cannot be seen in the other version. The corresponding regions are highlighted in both though.

Would be nice if one could also see the contents of the comments in both, pad and read-only pad, regardless of the origin of the comment.

[2020-05-01 17:37] thmo commented on #112
See also #68.

[2020-05-01 17:39] JohnMcLear commented on #68
@thmo it's probably not a huge job to fix, assuming this is for a commercial project did you want to setup a bounty so we can get more eyes on it else it's gonna just fall naturally on our roadmap.

[2020-05-01 17:45] thmo commented on #92
I think with the current version (0.1.0), this is more or less obsolete. There _is_ a button to send the suggested changes.

Nonetheless the UI is sometimes inconsistent: e.g., when you make a suggestion, move the mouse away, and then move it back, the slider ("include suggested change") automagically turns off, however the suggestion is still there and can be sent.

[2020-05-01 17:48] thmo commented on #68
Just found a real bug: You can make and later accept a suggestion in a read-only pad, resulting the original pad text to be changed.

(No, it's not for a commercial project.)

[2020-05-01 17:51] JohnMcLear commented on #68
Ah okies, well when we're doing our next big push on ep_comments we will try address these bugs.  Fair point RE the security issue, that should be getting rejected!

[2020-05-12 11:45] zzkt opened #120 "Replies to comments don't appear"
Replying to a comment by clicking 'Reply' causes an error and the reply is not displayed. This appears to be the case with Firefox and Chrome (at least) using either 'no-skin' or 'colibris'.

[code]
looks like the `commentId` is not getting set correctly...

**Etherpad version**
Version number: 1.8.3
Git sha: 6210114

**Installed plugins**
ep_comments_page
ep_etherpad-lite
ep_headings2
ep_markdown

[2020-05-12 11:47] JohnMcLear commented on #120
Remove ep page view ?

[2020-05-12 12:13] zzkt commented on #120
just saw the `DEFUNCT PLUGIN:`warning so it's disabled now. I also disabled all other plugins to test it and no change. BUT, adding and replying to comments works on newly created pad.

So, looks like this error is only happening on pads that existed before upgrading to 1.8.3

[2020-05-12 12:17] JohnMcLear commented on #120
Ah bummer.  Any idea @seballot ?

[2020-05-12 12:23] zzkt commented on #120
I don't get any errors from the `checkAllPads.js` script but testing what happens with `rebuildPad.js`

[2020-05-12 13:11] JohnMcLear commented on #120
@zzkt I think it's related to how userId is set since changes in 1.8.3, I will try take a look.  Is this a fire for you?  I have other issues I want to get to first.

[2020-05-12 13:15] zzkt commented on #120
Thanks @JohnMcLear there's no immediate rush but would be great to have it fixed. Can you suggest any possible workarounds?

[2020-05-12 13:15] JohnMcLear commented on #120
No, sorry, not without breaking off what I'm doing.

[2020-05-12 14:47] seballot commented on #120
Hi ! I just did some testing, switching back to version 0.0.35 (before my refactoring), adding a comment, then switch to master, I can still open and reply to the comment. So I cannot manage to reproduce :/

But I found the line of code which is raising this error, it seems in your database you have comment replies without the reference to the comment Id... From what I understand, everytime we do

[2020-05-12 15:03] #120 closed

[2020-05-12 15:03] JohnMcLear commented on #120
I merged the fixes into master, please confirm @zzkt that this fixes and I will publish a release.

[2020-05-12 15:46] zzkt commented on #120
Thanks @seballot & @JohnMcLear it's looking good.

[2020-05-12 16:11] JohnMcLear commented on #120
published.

[2020-05-13 11:27] techware01 opened #123 "[question] Why should I use git instead of npm to install this plugin?"
At first I installed this plugin via git as descriped in the readme.
It worked, but npm didn't like a git repo inside node_modules and e.g. it deleted the plugins repo as soon as I installed another plugin.

Thats why I installed it via npm (npm i ep_comments_page) the next time and it works totally fine now.

Is there any reason why I should use git instead of npm to install this plugin?

[2020-05-13 11:35] JohnMcLear commented on #123
Yeah git repos inside node modules doesn't play well..

[2020-05-13 16:31] techware01 commented on #123
Then I would suggest to update the installation instructions in the readme file ...

[2020-05-13 19:33] JohnMcLear commented on #123
Done and lol I see why not, it used to depend on ep_page_view, but it doesn't any more...   I removed it completely.

[2020-05-14 00:11] techware01 commented on #123
Thank you very much! That's good news :)

[2020-05-14 00:11] #123 closed

[2020-05-27 11:20] tiblu opened #125 "QUESTION/BUG: Edit comment/reply - no authorization, anyone can edit anyones content"
**Question**

Do I understand correctly that there is no authorization for editing comment/reply? That is, anyone can edit anyones comment/reply?
https://github.com/ether/ep_comments/blob/master/commentManager.js#L272

IF that is true, any suggestions how to approach this, we'd be interested in only original author being able to edit comment/reply.

We MAY PR this.

Related to:

* https://github.c

[2020-05-27 11:25] JohnMcLear commented on #125
If it's a socket msg the Auth will be same as the Auth on pad socket MSG's.  In theory....

[2020-05-27 12:45] tiblu commented on #125
@JohnMcLear IF that is the only layer, then this authorization says "you can edit this pad". that also means you can edit anyones comment/reply, it does not verify the comment/reply you are editing is created by you, thus are authorized to edit.
It is fair from a user to expect that only author of the comment/reply can edit it.

[2020-05-27 14:13] JohnMcLear commented on #125
Yeah I'd guess that's the case then.  Reasoning is probably that it you change this anew se

[2020-05-27 14:17] tiblu commented on #125
Thanks for the info. Any quick ideas how you would approach?
IF not, we'll probably dig in at some point and hope it suits.

[2020-05-27 14:39] JohnMcLear commented on #125
Check comment.authorID matches authorID of the socket trying to make the change.  Shouldn't be too hard to accomplish.

I'm sure there will be gotchas tho ;)

[2020-05-28 09:24] arc64 opened #126 "Error loading page with plugin"
Issue with loading page with plugin, error message below

---

An error occurred
The error was reported with the following id: 'rBzQdXrzvLAxvAvFV4jp'

Please press and hold Ctrl and press F5 to reload this page, if the problem persists please send this error message to your webmaster:
'ErrorId: rBzQdXrzvLAxvAvFV4jp
URL: https://video.etherpad.com/p/standup_test3
UserAgent: Mozilla/5.0 (Macintosh;

[2020-05-28 09:25] JohnMcLear commented on #126
Tests are all passing.  Expect browser cache issue.  Please try from another browser or hit control f5.

[2020-05-28 09:26] JohnMcLear commented on #126
Oh wait this is video.etherpad.com...

[2020-05-28 09:27] JohnMcLear commented on #126
Pad is loading fine for me...

[2020-05-28 20:29] JohnMcLear commented on #126
i spent a few hours and found htis

[code]

It's the closest thing I have to a failure case..

For now I will remove the plugin and see if problem persists..

[2020-05-29 21:09] #126 closed

[2020-06-10 10:09] HMarzban opened #127 "Hotfix, `setYofComments` is undefined"
https://github.com/ether/ep_comments/blob/848889ffc0e94d75d5dfda26844b8853ed929cc0/static/js/index.js#L1222

Some times (**most of the time when the system is under heavy load**) `aceEditEvent` hook happened sooner than `postAceInit` hook, so in this case, `ep_comments` is not yet in the plugin list.

Thus we need another condition to check if `pad.plugins.ep_comments_page` exist then make call `s

[2020-06-10 10:11] samirsayyad commented on #127
+1

[2020-06-10 11:02] JohnMcLear commented on #127
Can you please include test coverage?

[2020-06-15 13:57] Oremountainflorian opened #128 "[Bug] Copying text to clipboard doesn't work when text contains comment"
## System

Etherpad: 1.8.4
OS: Windows 10/8.1
ep_comments: 0.1.5

## Problem description

When there is a comment in selected text, it isn't possible to copy text to clipboard and paste it afterwards. Problem occurs on Firefox 76.1 and Chrome 83 but doesn't occur on Microsoft Edge Microsoft Edge 42.17134.1098.0.

[2020-06-15 21:49] Chostakovitch commented on #127
I also have the same issue, hundreds of time for the last few days in the logs.

[2020-06-16 07:52] JohnMcLear commented on #127
Would merge a PR (ideally with test coverage) if one landed.

[2020-06-26 14:59] crablab commented on #127
It's not clear to me where you have test cases for this file, and how you would like to test this. If you can provide more context on that I'll have a look.

Otherwise, I have a PR for the fix.

[2020-06-26 20:51] #127 closed

[2020-08-17 02:29] wwwjason1994 opened #133 "[bug]had error when you are commenting on words after other one delete those words"
Case 1: would commented other word
case 2: would alert error message

[2020-10-01 17:30] pr4xx commented on #68
Is there any activity on this? Or can someone point out where the issue could be? I might be able to come up with a fix.

[2020-10-01 19:06] JohnMcLear commented on #68
Take a stab!

[2020-10-10 13:16] pr4xx commented on #68
I did some more testing and my PR did seem to resolve the issue completely. I have to take another look.
Right now live syncing does not happen, only after refresh. And the readonly side cannot make new comments but only comment an existing one.

[2020-10-15 19:01] JohnMcLear commented on #133
1. I guess not erroring would be a good start.  Use try catch might be required.
1. Notify comment window that contents has changed so to ensure selection and comment is accurate based on change. OR just disable comment window submission if content changes but that's gotta be so counterproductive.

[2020-10-15 19:02] JohnMcLear commented on #128
Unable to replicate.

[2020-10-15 19:02] #128 closed

[2020-10-15 19:05] JohnMcLear commented on #116
@Oremountainflorian can you replicate on https://video.etherpad.com ?  I think this is an old bug.  If you can replicate there I will re-open.

[2020-10-15 19:05] #116 closed

[2020-10-15 19:07] JohnMcLear commented on #112
Related: https://github.com/ether/ep_comments/pull/141  -- I have requested it is under a server setting (to be able to enable/disable comments in read only pads)  -- read only pads should never be able to modify the contents.

[2020-10-15 19:08] JohnMcLear commented on #102
If you export/import now you get ``null`` as comment contents..

[2020-10-15 19:10] JohnMcLear commented on #94
This was resolved already, sorry for not closing.

[2020-10-15 19:10] #94 closed

[2020-10-15 19:14] JohnMcLear commented on #93
@rugk I think this is resolved: see: https://video.etherpad.com/p/FZujg8XuXf59zEepwRIB

If not, let me know and I will re-open

[2020-10-15 19:14] #93 closed

[2020-10-15 19:15] JohnMcLear commented on #92
@rugk please let me know if this is still an issue, it does appear this can be closed.

https://video.etherpad.com/p/FZujg8XuXf59zEepwRIB

[2020-10-15 19:15] #92 closed

[2020-10-15 19:17] JohnMcLear commented on #90
[code]
is totally broken.

[2020-10-15 19:24] JohnMcLear commented on #67
I think this is resolved but if not please comment here and I will re-open.

[2020-10-15 19:24] #67 closed

[2020-10-15 19:26] JohnMcLear commented on #125
@tiblu what's your status? :1st_place_medal:

[2020-10-15 19:34] tiblu commented on #125
Unfortunately no change and no ETA. I haven't done any software development for a while and not sure when I'm back at it. Sorry, thats the way it is.

[2020-10-15 19:36] JohnMcLear commented on #125
@tiblu no problem man, I totally know how that goes :+1:

[2020-10-21 13:11] woeterman94 opened #146 "Prevent editing or deleting comments of other users"
How can I prevent users from editing or deleting comments which are not theirs?

[2020-10-21 13:12] woeterman94 commented on #146
related to 125 ?

[2020-10-21 13:15] woeterman94 commented on #146
I'll close this as it's a duplicate!

[2020-10-21 13:15] #146 closed

[2020-10-27 10:37] JohnMcLear commented on #125
FWIW @rhansen has fixed this now afaik, or at least some progress has been made, I will let him update :)

[2020-10-29 20:57] rhansen commented on #125
Nope, not fixed yet—I've been distracted doing other stuff. I hope to work on this next week.

[2020-10-29 21:40] rhansen commented on #125
There are a few different ways we could address this, so I would like to get some input from everyone.

This is the behavior I would prefer to implement because it's the easiest:

* If the user has a read-only view of the pad, that user cannot add or edit any comments (not even their own).
* Users that can modify the pad can edit their own comments but not others.

There are some drawbacks with th

[2020-10-30 11:49] JohnMcLear commented on #125
cc @tiblu for for thoughts :)

[2020-10-30 12:06] ilmartyrk commented on #125
@rhansen @JohnMcLear @tiblu this is how I solved it, sorry for no pull request, haven' t had the time to do it as our fork has other changes too https://github.com/citizenos/ep_comments/commit/d5c1bf1c80f81812656940e8e3b696ad879684f3

[2020-10-31 18:18] tiblu commented on #125
I think this behavior would work for us (Citizen OS).
Not sure about other EP users, but it seems an interesting use-case to enable changing other peoples comments.

Also, in @ilmartyrk  I trust (https://github.com/ether/ep_comments/issues/125#issuecomment-719514772).

And thanks to all for the input!

[2020-11-03 16:34] JohnMcLear commented on #118
![newscreen](https://user-images.githubusercontent.com/220864/98013526-617ff900-1df2-11eb-88b6-cf259372f6ca.PNG)

[2020-11-03 16:40] #118 closed

[2020-11-03 16:43] JohnMcLear commented on #133
STR:

Create pad
Put content "hey" at bottom of pad
in another browser, highlight hey, start writing a comment, don't submit it
in original browser delete "hey".

2nd browser will hang 👎

[2020-11-03 19:36] JohnMcLear commented on #102
Oh, export/import was never supported..  Heh..

Well Google Docs does this by having an "index" of comments which looks like this...

[code]

Do people really expect to export/import comments as HTML when they can just use the .etherpad format?  At what point do we draw the line here on what is pushed out as HTML?

[2020-11-03 20:20] JohnMcLear commented on #102
Oh, actually exporting to .etherpad then importing exhibits this behavior so this is defo a bug that needs addressing.. 💯

[2020-11-03 20:27] JohnMcLear commented on #102
Oh I see ep_comments is using comments:padId and not pad:padId:comments which is correct storage mechanism.

Ugh.  I will probably need to extend ``ExportEtherpad.js`` have a plugin hook to define a context to grab or something, not ideal.  I wonder why comments aren't under the padId namespace like everything else, must be a reason...

[2020-11-04 12:54] JohnMcLear commented on #102
Track at https://github.com/ether/etherpad-lite/pull/4466

Ready for testing.

[2020-11-04 15:29] JohnMcLear commented on #102
Also track at https://github.com/ether/ep_comments/pull/151 which now exports comments to HTML also.

[2020-11-08 05:59] rhansen opened #154 "Relative time strings like "1 minute ago" should auto-update"
The relative time strings like "1 minute ago" are fixed at page load time—they never change as time elapses. The only way to see the correct relative time is to reload the page.

[2020-11-08 05:59] rhansen opened #155 "Changing the language does not change the relative time strings"
If you change the language, relative time strings such as "1 minute ago" do not update. You have to reload the page to see the translated strings.

The tests are supposed to test for this but they don't due to [timeFormat.js line 177](https://github.com/ether/ep_comments/blob/0cf037f4e52dfa13620f4712e8d466d5ea4d4109/static/tests/frontend/specs/timeFormat.js#L177).

[2020-11-08 08:03] JohnMcLear commented on #155
@ilmartyrk

[2020-11-08 08:04] JohnMcLear commented on #154
@ilmartyrk

[2020-11-08 22:29] JohnMcLear commented on #102
All done :)

[2020-11-08 22:29] #102 closed

[2020-11-10 08:18] rhansen opened #159 "HTML export includes deleted comments"
If I create a comment, delete it, then export to HTML the deleted comment appears in the export.

[2020-11-10 08:24] JohnMcLear commented on #159
Good find.

[2020-11-10 09:08] JohnMcLear commented on #159
Fixed in https://github.com/ether/ep_comments/commit/3f2b8fc0dbf3353d900d230d9c5947c8be7e2bb9

[2020-11-10 09:08] #159 closed

[2020-11-12 08:49] woeterman94 commented on #125
To be honest I would also hide the edit and delete button when the user has no access.

[2020-11-12 19:43] tiblu commented on #125
@woeterman94 Few approaches come to mind:

* Show functionality, and show error, when a user tries to perform action (current solution).
* Hide functionality that user has no permission to use.
* Show functionality, that user has no permission to use, but disable it and show tooltip with info WHY the functionality is disabled.

In context of EP, either of these would work.

[2020-11-13 11:50] #155 closed

[2020-11-13 12:17] woeterman94 commented on #125
I would go for option 2, but perform a check in the backend.
Showing an error when someone clicks edit or delete isn't really user-friendly. The button shouldn't be there in the first place.

[2020-11-19 14:12] CompuRoot commented on #102
Thank you !

[2020-11-19 14:32] JohnMcLear commented on #102
Yw

[2020-11-23 14:52] JohnMcLear commented on #133
Fixed in https://github.com/ether/ep_comments/commit/86e89a3b44676bb7b6b0d2e80abc28a2c9674c69

[2020-11-23 14:52] #133 closed

[2020-11-24 11:33] Chostakovitch commented on #125
Hello everyone and @ilmartyrk,

As @rhansen mentionned :

And more importantly :

Since #163, users have reported that they cannot remove or edit other's comments, which is part of their usual workflow.

Would it be possible to use a configuration parameter to enable or disable this behaviour ? It don't see a "good reason" to disable editing/remove other's comment in all situations.

Unfortunately

[2020-11-24 12:11] woeterman94 commented on #125
A comment and a session are both linked to an authorId right?

Don't know. I think by default it shouldn't be allowed.

[2020-11-24 17:17] Chostakovitch commented on #125
@woeterman94

I think so, the point is that is you delete your cookies for whatever reason or use a different computer/browser, the comments have no way to get deleted, and some users will periodically purge cookies from their browser.

I agree. The problem is more the sudden behaviour switch. Our instance being active for more than 2 years and used mostly by project groups and associations, the w

[2020-11-28 10:34] thmo opened #169 "Errors in console for 'troubleshooting information' admin page"
When calling the 'troubleshooting information' admin page (i.e. the `/admin/plugins/info` URL), I see these messages in the log:

[code]

ep_comments_page 0.1.37 (installed via npm install)
ep 1.8.6-256-g325941a

[2020-11-28 12:18] thmo commented on #169
Steps to replicate:
[code]
and then, in another terminal:
[code]

This is on Fedora 33, with
nodejs-14.14.0-2.fc33.x86_64
npm-6.14.8-1.14.14.0.2.fc33.x86_64

[2020-12-08 09:52] LeaChemoul opened #173 "Error while trying to copy/paste pad 's content"
## Context

* **OS**: Intel Mac OS X 10_14_6
* **Browser** : Mozilla/5.0, Chrome/86.0.4240.198
* **Etherpad** version: 1.8.6
* **ep_comments_page** version: 0.1.30

## Behavior
When performing a ctrl+c (or ⌘+c) on selected pad content an error occurs saying `Cannot read property 'documentAttributeManager' of undefined at Object.exports.getCommentIdOnFirstPositionSelected`.
That why i suppose it is

[2020-12-08 09:54] JohnMcLear commented on #173
Confirmed.

[2020-12-08 10:12] JohnMcLear commented on #173
Fixed and published.

[2020-12-08 10:12] #173 closed

[2020-12-08 14:10] woeterman94 opened #174 "When doing CTRL + C Please press and hold Ctrl and press F5 to reload this page"
Whenever I do CTRL +C in any pad I get a red error message.

![image](https://user-images.githubusercontent.com/5755057/101494266-655de880-3967-11eb-9581-c93a8631e42b.png)

`VM64:262 Uncaught TypeError: Cannot read property 'documentAttributeManager' of undefined
    at Object.exports.getCommentIdOnFirstPositionSelected (eval at _compileFunction (require-kernel.js?v=a1960924:226), <anonymous>:262:

[2020-12-08 14:11] woeterman94 commented on #174
Duplicate of 173 , sorry

[2020-12-08 14:11] #174 closed

[2020-12-08 14:16] woeterman94 commented on #174
Unit test is still failing :(

[2020-12-10 09:08] LeaChemoul opened #175 "Error while trying to add a suggestion with a quotation mark (or any special character)"
## Context

* **OS**: Intel Mac OS X 10_14_6
* **Browser** : Mozilla/5.0, Chrome/86.0.4240.198
* **Etherpad** version: 1.8.6
* **ep_comments_page** version: 0.1.44

## Behavior

When adding a quote in a suggestion (`"` or `'`) an error occurs saying `Unexpected token in JSON at position`.
Seems like others special characters are having troubles too. (Tested : https://www.computerhope.com/jargon/s/

[2020-12-10 22:29] JohnMcLear commented on #175
Confirmed.  I'm concerned this could be an XSS too.  The ``changeTo`` variable is written into the element really weirdly..  I think it mostly needs a ``Security.escapeHTML`` but then also why is ``i10n`` being passed over it?  Too weird..  Needs more than the 5 minutes I had to look at it today.

[2020-12-14 15:26] LeaChemoul commented on #175
That's really weird, I was wondering the same for the i10n. Why are you not using the same logic between basic comments and suggestion inputs ?

That's a real problem for me because I'm currently using etherpad for production and it is breaking my pads.
Does your temporary patch fix future inserted special characters and previous broken pads ?

Thank you very much for your time 😄

[2020-12-14 16:09] JohnMcLear commented on #175
I don't have time to go into depth on this.  It will work in production and it fixes historical issues

[2020-12-15 13:49] LeaChemoul commented on #175
It's already great to have put a temporary fix. Thanks for your time and all your contribution to etherpad that's amazing !

----
I see that the correction is effective only in private browsing. It's just a problem with the `cache` since when I empty my cache everything works fine but I don't want to force users to have to go through this step (some are not comfortable with a computer). My cache i

[2020-12-27 20:34] techware01 opened #177 "ep_comments_page not working with etherpad-lite 1.8.7"
##  Problem
After updating to the latest etherpad-lite release commenting is not possible anymore. When pressing the plus button for commenting nothing happens. Also there is no visible feedback for pressing the button on the screen or in the console.
Only after loading a pad the develeoper console in the browser shows the following ep_comments_page related errors:
[code]

## Installed Version
eth

[2020-12-27 20:39] JohnMcLear commented on #177
Did you try uninstall the plugin and reinstall it?

[2020-12-27 20:47] techware01 commented on #177
Reinstalled now using:
[code]
and restarted the service. But still nothing happens.

[2020-12-27 21:14] JohnMcLear commented on #177
Try clearing your browser cache..

I just did a clean install, the two commands above and it worked fine.

Also check you **don't** have ``package.json`` and ``package-lock.json`` in the root folder of Etherpad

[2020-12-27 21:32] techware01 commented on #177
Ok after clearing the browser cache it's working now. Thank you!
Why should there be no `package.json` and `package-lock.json' in the root folder? I have both of them there.

[2020-12-27 21:55] #177 closed

[2020-12-31 08:55] ilmartyrk opened #179 "Opt. out of html export using settings"
When user don't want to export comments into html add an options to skip exporting.

[2020-12-31 08:56] JohnMcLear commented on #179
Lol sorry I meant create issue for the bug in export that you mentioned :p. You said something is broken???

[2020-12-31 09:12] ilmartyrk opened #180 "HTML export backend tests failing"
HTML export tests are failing.  Etherpad version 1.8.7 node v10.22.1

[code]

[2021-01-04 10:29] ilmartyrk commented on #180
So found out that the issue is caused by this [line ](https://github.com/ether/ep_comments_page/blob/b427d0c303c207e49f20057e0464d366fa71b5bc/exportHTML.js#L28)as the tests don't add comments but use html with comment html.

[2021-01-04 10:30] #180 closed

[2021-01-04 12:33] webzwo0i opened #181 "multiple comments in one line"
Details of the initial bug report are at https://github.com/ether/etherpad-lite/issues/4627

[2021-01-04 17:00] hollisticated-horse commented on #181
repost to make easier to read bug report// there maybe an issue already opened about this since, i checked the wrong issue list :D

Bug:

when there multiple comments on selection in the same line, it isn't possible to select which comment to interact with, whether to accept change or respond

To Reproduce
Steps to reproduce the behavior:

 1 create a pad
 2 make two comments on selection in the s

[2021-01-05 14:15] ldidry opened #182 "Error while deleting a pad"
When I delete a pad (tested from API and from `adminpads` plugin), I have an error message in the logs:
[code]

It doesn’t prevent the pad to be deleted, though.

[2021-01-05 14:18] JohnMcLear commented on #182
Try change ``padRemove`` to

[code]

[2021-01-05 15:09] ldidry commented on #182
It does not work:
[code]

And then I have a loop of the latest messages in the logs.

[2021-01-05 15:53] JohnMcLear commented on #182
Try

[code]

??

[2021-01-06 03:55] ldidry commented on #182
Same loop of messages in the logs.

[2021-01-06 08:33] JohnMcLear commented on #182
Ugh okay will take a look into it buddy :)

[2021-01-06 11:34] sauravgupta2800 opened #183 "Issue when we comment multiple time on the same text, then only latest comment is retain."

[2021-01-06 11:37] sauravgupta2800 commented on #183
@JohnMcLear please have a look.
if we comment on the same selected text, after again selecting it, older selected comment is overridden. Ideally every comment should be present.

[2021-01-06 11:40] JohnMcLear commented on #183
@sauravgupta2800 sure, but I'm not gonna be working on this for a few weeks at the soonest as I'm working on core.  Other people can look at it before me :)  I recommend @ilmartyrk if you are looking for a good plugin dev!

[2021-01-06 11:49] sauravgupta2800 commented on #183
@ilmartyrk Can you please look into it?

[2021-01-06 11:52] sauravgupta2800 commented on #183
Just want to know is it a small fix?If yes then I can give a try at least for my project?

[2021-01-12 08:22] JohnMcLear commented on #182
Fixed in https://github.com/ether/ep_comments_page/commit/a6ebecdfb73ddf15dd05b13a2825ccd441353488

[2021-01-12 08:22] #182 closed

[2021-01-21 19:54] Yaco opened #185 "Outdate version by npm"
Hi!
just wanna report that when I tried to install this plugin using the official instructions, the command ```npm install ep_comments_page``` I got an older version. Needed to install using git to get the version shows in the main thumbnail on the README.

I think the npm package is outdated?

[2021-01-21 19:56] JohnMcLear commented on #185
The package should auto publish once lint tests pass.  My guess is that it needs linting up.

[2021-01-21 20:17] JohnMcLear commented on #185
Looks like it was due to a change in the eslint config, I'm pushing some more lint fixes now so hopefully a new version will get released.

[2021-01-21 20:25] JohnMcLear commented on #185
Should auto publish a fix now :)

[2021-01-21 20:25] #185 closed

[2021-01-22 20:01] Yaco commented on #185
Hi John! osrry to bother again with this, but seems is not fixed.

Just installed it again by npm and still old version. In package.json of the plugin it says: ``` "version": "0.0.35",```

My npm version is 6.14.4.

Any clue?

[2021-01-22 20:07] JohnMcLear commented on #185
Are you sure you are installing the right plugin?

https://www.npmjs.com/package/ep_comments_page

[2021-01-23 01:22] Yaco commented on #185
I did: ```npm install ep_comments_page```. Below is the full output of the command and the version detail:

[code]

[2021-01-23 01:26] Yaco commented on #185
However, I am also getting this:

[code]
mmm?

[2021-02-08 09:03] LeaChemoul opened #188 "Suggestion text does not display"
## Context

* **OS**: Intel Mac OS X 10_14_6
* **Browser** : Mozilla/5.0, Chrome/86.0.4240.198
* **Etherpad** version: 1.8.6
* **ep_comments_page** version: 0.1.51

## Behavior

When adding a suggestion, proposition text does not appear.
But when clicking on "Apply", text is correctly replaced.

## Steps to reproduce

<img width="755" alt="Capture d’écran 2021-02-08 à 09 52 47" src="https://user

[2021-02-11 07:35] fooness opened #189 "Allow anonymous/public comments in read-only pads …"
* * *
name: Bug report, maybe, else feature request
about: Allow anonymous/public comments in read-only pads …
labels: bug, enhancement
moved here from main repo: https://github.com/ether/etherpad-lite/issues/4746
* * *

**Is your feature request related to a problem? Please describe.**
Comments on read-only pads are not saved and synced with other collaborators.

**Describe the solution you'd lik

[2021-02-21 23:06] nekohayo opened #190 "Comments are not exported when exporting to .odt, .PDF or markdown files"
I suppose figuring out a way to represent comments in markdown could be tricky, but leaving them out when exporting to rich formats like OpenDocument (ODT) and PDF is some pretty serious data loss that can undermine users' trust in the system; they may not notice until it is too late when they reopen the exported document after the etherpad instance is gone/expired...

[2021-02-21 23:10] JohnMcLear commented on #190
I agree re odt, we love our libre office brothers and sisters.  But pdf....   Do Adobe even have an open spec for this?!

Does soffice.bin have support for comments in html to odt?  If so, point me at the docs and I will make sure the html we pass to soffice is compliant.

Fwiw we pass html from etherpad to soffice which is a libre office tool for converting files :)

[2021-02-21 23:24] nekohayo commented on #190
I don't know the PDF ISO spec, but I suspect comments and annotations are very standard in there. Otherwise we wouldn't have annotation comments & highlighting in [Evince](https://wiki.gnome.org/Apps/Evince) with the [poppler](https://en.wikipedia.org/wiki/Poppler_(software)) library... I hope someone smarter than me will point out where exactly this is in the spec.

As for LibreOffice being used

[2021-02-27 00:03] meaz commented on #177
I would also be much interested in the answer to @techware01 questions...

[2021-02-27 08:23] JohnMcLear commented on #177
Things changed.  Your root package files should contain lint and plugins, just not core deps

[2021-02-27 08:43] meaz commented on #177
and where should they be then?

[2021-03-01 10:58] LeaChemoul commented on #188
@JohnMcLear To help you reproduce this. It seems that it occurs when my editor is in french. English is working fine.

[2021-03-01 11:02] JohnMcLear commented on #188
I probably wont get to this any time soon so you might want to see if you can dig into it a bit :)

[2021-03-02 15:14] zzkt opened #191 "vanishing comments"
After a recent upgrade, looks like old comments are no longer visible and new comments can't be added. Using comments_page 0.1.54 and etherpad version 1.8.11 (Git sha: ad84c8a)

[2021-03-02 15:24] JohnMcLear commented on #191
From what version of ep_comments?

[2021-03-02 16:05] zzkt commented on #191
The comments are still in the db, they are exported as expected via /export/html but aren't displayed on the pad...

[2021-03-03 11:25] JohnMcLear commented on #179
I think this is done now yeah?  Can be closed?  If not, lemme know :)

[2021-03-03 11:25] #179 closed

[2021-03-08 23:14] tim-krieger opened #192 "Comment popup is not displayed correctly on some mobile devices"
Popup on my iPad (2019), Safari mobile, recent version of ep_comments_page, etherpad 1.8.12:

![image](https://user-images.githubusercontent.com/64839715/110393764-676d3b80-806b-11eb-8693-c9dc76271919.png)

[2021-03-08 23:16] JohnMcLear commented on #192
@seballot any idea how this can happen?

[2021-03-09 07:22] seballot commented on #192
Yep : https://github.com/ether/ep_comments_page/blob/master/static/js/newComment.js#L85

The popup is aligned with comment icon, which does not work when comment icon is closed to the right border of the screen. Should be easy fix

[2021-03-09 17:03] zzkt commented on #191
I've updated etherpad & the plugin and the comments have now reappeared, but I had to manually reinstall tinycon.

Can't see anything obviously different in the stored comments using either the `pad:id` or `comments:id` keys...

[2021-03-12 09:01] #191 closed

[2021-03-30 09:55] LeaChemoul commented on #188
Thank you for your work @ldidry, seems like suggestions in French are displaying now :)

After more test, special characters (#175) are still a problem (maybe it's not related).
I'm testing on **0.1.60** version. I will try  to dig into it when I have time soon.

Here is an example, adding a suggestion with text "Hello ;)"

![image](https://user-images.githubusercontent.com/34442368/112966119-35bb

[2021-03-30 10:12] ldidry commented on #188
That is not related to the translation missing and is known. See the explanation on https://github.com/ether/ep_comments_page/blob/master/templates/comments.html#L100-L102 (it’s to avoid security issues).

[2021-04-14 15:12] tiblu opened #197 "BUG: Error when viewing Pad with comments - sometimes"
**Reproduce**

* Add a comment
* Refresh the page with cache enabled

**Result**

SOMETIMES I get an error:

[code]

![image](https://user-images.githubusercontent.com/7405383/114732967-9ef69400-9d4b-11eb-8c93-8f072438c32b.png)

**Observations**

* Happens sometimes, ONLY when cache is ENABLED
* It seems at when `localizeExistingComments` runs, the `commentId` is set, BUT `this.comments` is empty.

[2021-05-20 13:02] Oremountainflorian opened #201 "[Enhancement] Possibility to delete comments"
Hi! We often write larger texts with many revisions and iterations. By the time, especially when many people are involved, it get's chaotic with all the comments on the side, because we can't delete comments, even if they're fixed. Maybe the person can do, but also not after quitting the season so in any case they stay there forever... So especially the "main author" can't keep track on the commen

[2021-05-29 15:46] hermann-san commented on #201
meanwhile a workaround could be to make your pad read-only, copy the text and start with a new pad. The link to the new pad could be added to the old one.

[2021-05-29 16:00] hermann-san commented on #189
allowing comments on a read-only pad (which are synced) would be awesome. Maybe through an option in the settings.

[2021-06-02 19:46] erkaner commented on #68
Hello, I can make comments in readonly pad but they disappear after the refresh. Is this an expected behaviour? Thanks!

[2021-07-08 05:25] tim-krieger commented on #192
I think my iPad is not recognized as media only screen (800px). In web inspector the popup is displayed correctly. Should this be fixed in ether/etherpad-lite? It also infects other plugins with toolbar popups like ep_embedded_hyperlinks2.
![image](https://user-images.githubusercontent.com/64839715/124866932-83eb9700-dfbd-11eb-89d8-2dd38c6a1ae0.png)

[2021-07-08 16:55] tim-krieger commented on #192
If I use max-width 992px instead of 800px in popup.css (etherpad-lite) the new comment popup is diplayed correctly (iPad 2020).

[2021-07-28 13:20] smazydev opened #204 "[Question] How to hide the comment button on readonly page?"
Hi, So i have a requirement that i'd like to hide all possible buttons on the readonly page. Its working for every other plugin button except the comments page and ep_full_hyperlinks which is a fork of this plugin. Thanks in advance.

<img width="1436" alt="Screenshot 2021-07-28 at 6 11 58 PM" src="https://user-images.githubusercontent.com/43474082/127328383-27eac753-3453-4683-8227-d77677110159.pn

[2021-09-09 07:58] #197 closed

[2021-10-05 13:51] SVerena opened #211 "Suggestion texts show %20 for space (also applies for other special characters)"
**Describe the bug**
When adding a comment in English with a suggested change, any "special" character is shown in its percent-encoded form. For example a space is shown as %20, a bracket as %28.

**To Reproduce**
Steps to reproduce the behavior:
I added a comment while the pad was set English language with a suggested change.
I also noticed it in other languages like Spanish or French.
Interestin

[2021-10-05 13:57] JohnMcLear commented on #211
I imagine we show the suggested change as uri encoded and it needs decoding.  This is probably to avoid XSS / injections.

[2021-10-05 13:58] JohnMcLear commented on #211
It'd be cool to see test coverage for this, if you refer to other tests it should be pretty easy to make the test and that makes writing a fix a much easier job!

[2021-10-05 15:02] SVerena commented on #211
sure, what do you need? more detailed steps to reproduce? more screenshots?
I can also try to find out which other characters and languages are affected.

[2021-10-05 15:16] JohnMcLear commented on #211
If you can write a test IE https://github.com/ether/ep_comments_page/tree/main/static/tests/frontend/specs that would be great!

[2021-11-12 23:19] iu0v1 commented on #211
Doubled.

Text in Ukrainian look like this:
![chrome_5nSdMLxRdH](https://user-images.githubusercontent.com/1669027/141594373-25d70117-bbe4-4770-a4e8-9c009fb6837a.png)

[2021-12-01 10:09] eyea opened #212 "npm install ep_comments_page error: formidable"
HELP!

I've download the latest version of etherpad-lite via [Github](https://github.com/ether/etherpad-lite);

When i try to use ep_coomments_page ;
first step is to install it throuth the local path:   http://0.0.0.0:9001/admin/plugins

[code]

Here is the information i can afford:

[code]

[2021-12-16 23:44] ErikDW1 opened #213 "Read-only comments not shown"
Comments made in the read-only (RO) version of the pad are not transposed to the read-write (RW) version and also disappear after page refresh, even though are stored into the db.

Steps to reproduce:
1. Open a browser window with the RO link of the pad, then open another browser window with the RW link;
2. If you make a comment in the RW version of the pad this is immediately shown also in the RO

[2021-12-19 18:31] orblivion opened #214 "Mouse event handlers called one extra time for every new comment until page reload"
I noticed this while debugging something. I'm on etherpad 1.8.16, ep_comments_page 0.1.83.

In `static/js/index.js`, put a `console.log` or `alert` inside any or all of the following handlers (and perhaps others, for all I know):

* `this.container.on('mouseover', '.sidebar-comment', (e) => {...`
* `...on('mouseout', '.sidebar-comment', (e) => {...`
* `this.padInner.contents().on('mouseover', '.co

[2021-12-20 21:51] #189 closed

[2021-12-20 21:51] #213 closed

[2021-12-21 08:47] ErikDW1 commented on #213
Great! Thanks a lot!
Just a quick tip: simply updating the plugin from the admin panel doesn't seem to make the fix working; I had to do a restart of the etherpad service.

[2022-01-06 03:05] markzsh opened #217 "How to disable highlight in the high contrast theme?"
you cannot see the words with the high contrast theme,i try to use this:

It did not work.

[2022-01-06 03:07] markzsh opened #218 "How to disable highlight in the high contrast theme?"
you cannot see the words with the high contrast theme,i try to use this:

It did not work.

[2022-01-06 11:02] #212 closed

[2022-01-11 08:38] eyea commented on #183
OMG...  it's a long time :(

[2022-01-21 06:05] rhansen commented on #218
Duplicate of #217

[2022-01-21 06:05] #218 closed

[2022-02-10 18:54] zzkt opened #222 "make "Disable editing others comments" a configurable option"
The discussion at #125 covers various options for enabling and restricting editing of comments. I had assumed undeletable comments were a bug/regression but looks like there are good reasons and different uses cases for both strict and open editing (eg #201)

versions before 0.1.83 (possibly?) allowed comments to be edited and deleted by anyone with permission to edit the pad.

the changes @ilmart

[2022-03-23 05:37] #211 closed

[2022-03-23 05:37] #175 closed

[2022-03-24 01:27] riedelcastro opened #234 "src/bin/run.sh fails after installing ep_comments_page"
Hi,

I have installed etherpad lite as per the "Manual Installation" section on its README, and ep_comments_page via `npm install ep_comments_page`. We I run `src/bin/run.sh`, the script breaks and exists with the issue below. I am running npm version 7.11.2 on Mac OS.

What could I be doing wrong?

[code]

[2022-03-24 01:53] rhansen commented on #234
With npm v7 and later you must pass `--no-save --legacy-peer-deps` when installing plugins:

[code]

[2022-03-24 08:30] riedelcastro commented on #234
Amazing, that worked right away! Thanks so much for the quick reply.

[2022-03-24 08:30] #234 closed

[2022-04-01 21:57] riedelcastro opened #240 "Trying to install ep_comments_page from source, failing to load hook functions"
I am trying to install the `ep_comments_page` from source. To this end, I cloned the repo locally to `/some/folder/ep_comments_page` and then tried to install the plugin via `npm install --no-save --legacy-peer-deps /some/folder/ep_comments_page/ep_comments_page`.

Something happens, but when I run `src/bin/run.sh` I get a lot of errors of the type I copied below. Obviously I am doing something wr

[2022-04-01 22:31] riedelcastro commented on #240
I found one way to fix this: move the `ep_comments_page` folder into the top level `etherpad-lite` folder, and then install from there. Is there a way to avoid this? Maybe install while being in parent of `ep_comments_page` and then specify where to install the modules to?

[2022-04-01 22:43] riedelcastro commented on #240
Ah no, actually that still didn't work, I was accidentally still NOT installing it from source, that's why it looked like it worked. So I still have the problems in the original post.

[2022-04-01 23:51] rhansen commented on #240
The issue is that `ep_comments_page` needs to access stuff from Etherpad core, so Node.js needs to be able to find Etherpad core from `ep_comments_page`. Thus, you need two symlinks: one from Etherpad core to the plugin, and one from the plugin back to Etherpad core:

[code]

Instead of manually creating the symlinks you can use `npm link` to create the symlinks for you:

[code]

You'll have to re

[2022-04-02 02:41] #240 closed

[2022-04-02 16:17] benben962 opened #241 "Enhance the navigation of comments"
Hi,

As a teacher using Etherpad with my pupils, I get frustrated a lot by the comments feature.
Here is the typical scenario:
1) My students write some text in a pad, making lots of mistakes on one line, lots of mistakes on the line above it and lots of mistakes on the line under it.
2) I give them some feedback on their production using comments such as "Tense", "Typo", etc.
3) They correct and

[2022-04-09 07:08] riedelcastro opened #242 "Live editing ep_comment code"
Hi,

thanks to previous replies here, I have now cloned `ep_comments_page` into the `node_module` folder of etherpad. This seems to work in that I can make changes to the plugin that get reflected in the editor instance--but only after I re-run it. Is there a way of doing "live edits" in the code that affect the instance without re-running?

Thank you!

[2022-04-09 20:59] rhansen commented on #242
With client-side code you can simply refresh after setting `"minify": false` and `"maxAge": 0` in your `settings.json`. For changes to server-side code you have to restart Etherpad.

[2022-04-09 21:50] riedelcastro commented on #242
Thank you!

[2022-04-09 21:50] #242 closed

[2022-04-26 11:08] davue commented on #188
Suggestions still do not show up for the German (Deutsch) and Polish (Polski) translation. I checked many but not all translations, there might be more languages where this doesn't work.

[2022-07-25 08:53] HMarzban opened #263 "Ref: remove underscore dependency"
Remove underscore dependency for [this function](https://github.com/ether/ep_comments_page/blob/277f0d024fff50cabad2ce15fde49988f62ae69e/static/js/index.js#L1074&L1078):

[code]
**TO**
[code]

[2022-09-24 22:58] tim-krieger opened #273 "Wrong translation key"
1. Reply to a comment
2. Submit a suggested change

![image](https://user-images.githubusercontent.com/64839715/192121304-d211d4e6-e4a3-442e-9ca2-a785a08c0ab8.png)